In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("customer_shopping_behavior.csv")

In [5]:
data.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [6]:
data.shape

(3900, 18)

In [7]:
data.dtypes

Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Size                       object
Color                      object
Season                     object
Review Rating             float64
Subscription Status        object
Shipping Type              object
Discount Applied           object
Promo Code Used            object
Previous Purchases          int64
Payment Method             object
Frequency of Purchases     object
dtype: object

In [8]:
data.isna().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [9]:
data["Category"].value_counts()

Category
Clothing       1737
Accessories    1240
Footwear        599
Outerwear       324
Name: count, dtype: int64

Fill the null values with median of corresponding column (Review Rating) based on categories.

In [10]:
def fill_na(group_series):
  med=group_series.median()
  group_series=group_series.fillna(med)
  return group_series
data["Review Rating"]=data.groupby('Category')['Review Rating'].transform(fill_na)

In [11]:
pd.isnull(data["Review Rating"]).sum()

np.int64(0)

In [12]:
data[data.duplicated()]

Empty DataFrame
Columns: [Customer ID, Age, Gender, Item Purchased, Category, Purchase Amount (USD), Location, Size, Color, Season, Review Rating, Subscription Status, Shipping Type, Discount Applied, Promo Code Used, Previous Purchases, Payment Method, Frequency of Purchases]
Index: []

Renaming the columns, lower case and replace space with _

In [13]:
data.columns=data.columns.str.lower()
data.columns=data.columns.str.replace(" ","_")
data=data.rename(columns={'purchase_amount_(usd)': 'purchase_amount'})

In [14]:
(data["discount_applied"]==data["promo_code_used"]).all()

np.True_

Drop promo_code_used column as it is identical to discount_applied.

In [15]:
data.drop(columns=["promo_code_used"], inplace=True)

Create four group based on age.

In [16]:
labels=["Young Adult","Adult", "Mid Aged", "Senior"]
data["age_group"]=pd.qcut(data["age"],q=4, labels=labels)

In [17]:
data["frequency_of_purchases"].value_counts()

frequency_of_purchases
Every 3 Months    584
Annually          572
Quarterly         563
Monthly           553
Bi-Weekly         547
Fortnightly       542
Weekly            539
Name: count, dtype: int64

Add another column freq_of_purchases_days, numerical form of frequency_of_purchases column.

In [18]:
freq_table={
    "Every 3 Months": 90,
    "Annually": 365,
    "Quarterly": 90,
    "Monthly": 30,
    "Bi-Weekly": 14,
    "Fortnightly": 14,
    "Weekly": 7
}
data["freq_of_purchases_days"] = data["frequency_of_purchases"].map(freq_table)

In [19]:
data["freq_of_purchases_days"].head()

0     14
1     14
2      7
3      7
4    365
Name: freq_of_purchases_days, dtype: int64

Save the final clean dataset as csv file.

In [ ]:
data.to_csv("CLEANcustomers_behaviors.csv", index=False)